# Medical imaging data
*.dcm
*.nii
*.nii.gz
*.stl
*.zip

# Runtime outputs
00_raw_dicom/
01_nifti/
02_vesselness/
03_masks/
04_mesh/
output_vessels/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Environments
.env
.venv
conda/
